<!-- <div style="position: absolute;">
  <div class="admin" style="display: none;">
  <ul>
    <li>
      <a class="nav-link"
      [routerLink]="['/employees']">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/leaveConfig']">Leave Configuration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile/2']">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/leaveList']">Leave List</a>
    </li>
  </ul>
</div>
</div> -->
<!-- <div [style.display]='display'><app-admin></app-admin>
</div> -->
<div class="container" style="position: relative;">
  <router-outlet></router-outlet>
</div>
