<app-admin></app-admin>

<div style="float: right;">
  <button [routerLink]="['/leaveConfig',0,'edit']">Add LeaveConfig</button>
</div>
  <div class="table-responsive">

  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Maximum Leaves Allowed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of leaveConfigs">
          <td>{{e.name}}</td>
          <td>{{e.maximumLeavesAllowed}}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm" [routerLink]="['/leaveConfig',e.id,'edit']">
              Edit
            </button>
          </td>
          <td>
            <button class="btn btn-outline-warning" style="width:80px" type="button" title="Delete this product" (click)="deleteLeaveConfig(e.id)">
            Delete
          </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
